// Widescreen
@include mediaXl {
  // Work/Projects Page
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
  // End Worl/Projects Page
}

// Desktops & Laptos
@include mediaLg {
  // About Page
  .skills {
    .skill {
      &:nth-child(9) {
        grid-row: span 2;
      }
    }
  }
  // End About Page

  // Work/Projects Page
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  // End Worl/Projects Page
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    padding: 4rem 3.5rem;

    .icons {
      justify-content: center;
      margin-top: 2rem;

      a {
        margin: 9px;
      }
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/photo_small.jpg');
      width: 150px;
      height: 150px;
    }
  }

  // About page
  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'title'
      'skills';

    grid-template-columns: 1fr;

    .skills {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      grid-template-rows: minmax(50px, auto);

      .skill {
        &:nth-child(10) {
          grid-column: span 3;
        }
      }
    }
  }
  // End About Page

  // Work/Projects Page
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  // End Worl/Projects Page
}

// Smartphones
@include mediaSm {
  main {
    padding: 4rem 1.8rem;

    .icons {
      a {
        margin: 7px;
      }
    }
  }

  main#home h1 {
    margin-top: 10vh;
  }

  // Headings
  h1,
  h2,
  h3 {
    &.lg-heading {
      font-size: 3.8rem;
    }

    &.sm-heading {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      padding: 0.2rem 0.5rem;
    }
  }

  // About page
  .skills {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);

    .skill {
      grid-column: unset !important;
      grid-row: unset !important;
    }
  }
  // End About Page

  // Work/Projects Page
  .projects {
    grid-template-columns: 1fr;

    .item {
      &:hover {
        transform: translateY(0);
      }

      .item-text {
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }

      &:before {
        opacity: 1;
      }

      .item-text {
        opacity: 1;
        transform: translateY(0);
      }

      img {
        filter: blur(2px);
        transform: scale(1.2);
      }
    }
  }
  // End Worl/Projects Page
}
